---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import GalleryArchive from '@/components/GalleryArchive.astro'
import ExternalScripts from '@/components/ExternalScripts.astro'

let title = 'Gallery by @mitchprkr'
let description = 'SHOT WITH OLYMPUS MJU-II [DELUXE]'
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={title}
    description={description}
    author={'M.Parker'}
    og={'og-image.jpg'}
  />

  <body class="is-preload">
    <Header title={title} />
    <Footer title={title} description={description} />
    <GalleryArchive title={title} description={description} />
    <ExternalScripts />
  </body>
</html>
